
$light-gray: #e0e0e0;
$dark-gray: #888585;
$black: #000000;
$White:#ffffff;
$light-black: #464646;
$gray: #c4c4c4;
$light-pink: #f8d7da;
$dark-blue: #05596c;
$blue: rgb(8, 150, 186);
$light-blue: #31d5e4;
